@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-red: hsl(0, 100%, 74%);
  --primary-green: hsl(154, 59%, 51%);
  --accent-blue: hsl(248, 32%, 49%);
  --neutral-dark-blue:hsl(249, 10%, 26%);
  --neutral-gray-blue:hsl(246, 25%, 77%);
}

@media (prefers-color-scheme: dark) {
  :root {

  }
}
* {
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  line-height: 1.2;
}

body {
  height: 100%;
  width: 100%;
  background: url(/bg-intro-desktop.png) 0 0 repeat fixed;
  mix-blend-mode: color;
}
